body {
	counter-reset: sectionone;

	font-family: "Palatino";
	color: black;
}

/* Bold, Italic, Underlined */
/*{*/
strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

underline {
	text-decoration: underline;
}
/* end biu styles } */

/* Sectiontitle Styles */
/*{*/
section sectiontitle {
	text-align: left;
	line-height: 1.5;
	font-weight: bold;
	font-size: 120%;
	text-transform: capitalize;
}

section section sectiontitle {
	text-align: left;
	line-height: 1.2;
	font-weight: bold;
	font-size: 100%;
}
/* end sectiontitle styles } */

/* Section Numbering */
/*{*/
section sectiontitle::before {
	counter-increment: sectionone;
	counter-reset: sectiontwo;
	content: counter(sectionone) ": "
}

section section sectiontitle::before {
	counter-increment: sectiontwo;
	counter-reset: sectiontre;
	content: counter(sectionone) "." counter(sectiontwo) ": "
}

section section section sectiontitle::before {
	counter-increment: sectiontre;
	counter-reset: sectionfor;
	content: counter(sectionone) "." counter(sectiontwo) "." counter(sectiontre) ": "
}

section section section section sectiontitle::before {
	counter-increment: sectionfor;
	content: counter(sectionone) "." counter(sectiontwo) "." counter(sectiontre) "." counter(sectionfor) ": "
}

section section section section section sectiontitle::before {
	content: "ERROR: SECTION NUMBERING TOO DEEP"
}
/* end section numbering } */
