body {
	counter-reset: sectionone;

	font: arial;
	color: black;
}

section sectiontitle::before {
	counter-increment: sectionone;
	counter-reset: sectiontwo;
	content: counter(sectionone) ": "
}

section section sectiontitle::before {
	counter-increment: sectiontwo;
	counter-reset: sectiontre;
	content: counter(sectionone) "." counter(sectiontwo) ": "
}


section section section sectiontitle::before {
	counter-increment: sectiontre;
	counter-reset: sectionfor;
	content: counter(sectionone) "." counter(sectiontwo) "." counter(sectiontre) ": "
}

section section section section sectiontitle::before {
	counter-increment: sectionfor;
	content: counter(sectionone) "." counter(sectiontwo) "." counter(sectiontre) "." counter(sectionfor) ": "
}

